{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "at-rule-no-unknown": null,
    "block-no-empty": null,
    "no-descending-specificity": null,
    "unit-case": null,
    "declaration-block-trailing-semicolon": "always",
    "max-nesting-depth": 2,
    "selector-max-combinators": 2,
    "selector-max-compound-selectors": 3,
    "selector-class-pattern": "^(?:[a-z]+[0-9]*(-{0,2}|_{2})?)*[a-z0-9]*(-)*[a-z0-9]+$"
  }
}
