.citation {
  width: 100%;
  padding: 22px;
}

.citation__content {
  background: var(--background--darker);
  color: var(--text-secondary);
  margin-bottom: 22px;
  word-break: break-word;
}

.citation__label {
  display: block;
}

.citation__copy {
  display: inline-flex;
  align-items: baseline;

  .button {
    min-width: 200px;
  }
}
