.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--overlay-transition);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-text-enter-active,
.fade-text-leave-active {
  transition: opacity var(--fade-transition);
}

.fade-text-enter,
.fade-text-leave-to {
  opacity: 0;
}
