.share-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 48px 0;
}

.share-button {
  cursor: pointer;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon-text {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
